body {
  background		: #e8e8e8;
}

table, td {
  border			: 5px solid #CCC;
  border-collapse	: collapse;
}

tbody tr, td {
  padding			: 5px 10px;
  color             : #666;
}

tbody tr:hover {
  background        : #AAA;
}

tbody tr:hover td {
  color             : #454545;
}

caption {
  text-align        : left;
  font-size         : 120%;
  padding           : 10px 0;
  color             : #666;
}

table a:link {
	color           : #666;
}

table a:visited {
	color           : #666;
}
table a:hover {
	color           : #003366;
}

